/* You can add global styles to this file, and also import other style files */
.list-container {
    border: 1px solid #326197 !important;
    background-color: #f8f9fa;
    margin: 20px 20px 20px 20px;
    position: relative;
}

.list-title {
    background-color: #326197;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: -36px;
    left: 20px;
    z-index: 1;
    font-size: 20px;
}

.list-banner {
    background-color: #326197 !important;
    color: white;
    margin: 10px 0px;
    border-radius: 0.5rem;
    width: 100%;
}

.btn-light {
    color: #326197 !important;
}

.border-primary {
    border-color: #326197 !important;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.image {
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #326197;
}

.name {
    background-color: #326197 !important;
    padding: 0.2rem 0.5rem;
    font-size: 14px;
    margin-top: -30px;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    flex-grow: 1;
    background-color: #F0F4F7;
}

.card-body p {
    margin: 0.5rem 0;
    font-size: 12px;
}

.card-text {
    font-size: 12px;
    margin: 0.2rem 0;
}
  
.d-flex.justify-content-center {
    margin-top: 1rem; 
}

.card-boton {
    font-size: 12px;
    background-color: #326197 !important;
    border-color:  #326197 !important;
} 